<div class="cart">
  <button
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    class="cart-btn"
    [class.active]="isCartOpen"
    (click)="toggleCartAppearance()"
  >
    <img ngSrc="assets/cart.svg" alt="cart icon" width="17" height="15" />
    <span>{{ cartService.count() }}</span>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isCartOpen"
    [cdkConnectedOverlayPositions]="positions"
    (overlayOutsideClick)="isCartOpen = false"
  >
    <div class="cart-dropdown" [class.empty]="cartService.count() === 0">
      @if (cartService.count() > 0) {
        <app-cart-header
          [title]="cartSizeTitle()"
          [total]="cartService.total()"
          (clearClicked)="cartService.clear()"
        />
      }
      @for (game of cartService.cart(); track game.id) {
        <app-cart-game
          [game]="game"
          (removeClicked)="cartService.remove(game.id)"
        />
      } @empty {
        <ng-container>
          <img src="assets/cart.svg" alt="cart icon" width="34" height="30" />
          <p>Your cart is empty</p>
        </ng-container>
      }
    </div>
  </ng-template>
</div>
