<div>
  <button (click)="toggleCartAppearance()">
    Cart {{ cartService.count() }}
  </button>
  @if (isCartOpen()) {
    <div>
      @if (cartService.count() > 0) {
        <app-cart-header
          [title]="cartSizeTitle()"
          [total]="cartService.total()"
          (clearClicked)="cartService.clear()"
        />
      }
      @for (game of cartService.cart(); track game.id) {
        <app-cart-game
          [game]="game"
          (removeClicked)="cartService.remove(game.id)"
        />
      } @empty {
        <p>Your cart is empty</p>
      }
    </div>
  }
</div>
