<div>
  <button (click)="toggleCartAppearance()">
    Cart {{ cartService.count() }}
  </button>
  @if (isCartOpen()) {
    <div>
      @if (cartService.count() > 0) {
        <div>
          <strong>{{ cartSizeMessage() | uppercase }}</strong>
          <strong>{{ cartService.total() | currency }}</strong>
          <button (click)="cartService.clear()">CLEAR CART</button>
        </div>
      }
      @for (game of cartService.cart(); track game.id) {
        <div>
          <img [src]="game.imgSrc" [alt]="game.name" />
          <div>
            <span>{{ game.name | uppercase }}</span>
            <button (click)="cartService.remove(game.id)">Remove</button>
          </div>
          <span>{{ game.price | currency }}</span>
        </div>
      } @empty {
        <p>Your cart is empty</p>
      }
    </div>
  }
</div>
