.game-of-week {
  position: relative;

  img {
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }

  button {
    all: unset;
    width: 392px;
    height: 43px;
    position: absolute;
    top: 50%;
    left: 33%;
    cursor: pointer;
  }
}
